.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8 {
  background-color: var(--card1) !important;
  border: solid var(--border-colour) !important;
  padding: 60px;
  margin: 10px;
  border-radius: 15px;
}

.card3,
.card8 {
  background-color: var(--card3) !important;
  border: solid var(--border-colour2);
}

.card6 {
  background-color: var(--card6) !important;
}
